<%- include('_layouts/header') -%>
    <!--Message showing up results and thank you-->
    <h1>Thank you!!</h1>
    <h3 class="<%=resultclass%>">
        <%=message %>
    </h3>
    <% if(typeof newOrder !="undefined" ) { %>
        <h3 class="orderDetail">Here are your Order details</h3>
        <h4 class="juicedetail">
            Name: <%=newOrder.name %>
        </h4>
        <h4 class="juicedetail">
            Phone: <%=newOrder.phone %>
        </h4>
        <h4 class="juicedetail">
            Mango Juice: <%=newOrder.mangojuice %>
        </h4>
        <h4 class="juicedetail">
            Berry Juice: <%=newOrder.berryjuice %>
        </h4>
        <h4 class="juicedetail">
            Apple Juice: <%=newOrder.applejuice %>
        </h4>
        <h4 class="juicedetail">
            Subtotal: $<%=newOrder.subtotal.toFixed(2)%>
        </h4>
        <h4 class="juicedetail">
            Tax: $<%=newOrder.tax.toFixed(2) %>
        </h4>
        <h4 class="juicedetail">
            Total: $<%=newOrder.total.toFixed(2)%>
        </h4>
        <% } %>
            <%- include('_layouts/footer') -%>